# Ignore environment files
.env
env
venv/

# Ignore log files
var/log/

# Ignore databases
db.sqlite3
celerybeat-schedule.db
dump.rdb

# Ignore system-specific files
.DS_Store

# Ignore editor-specific files and directories
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd